<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<h1>Invoice Details</h1>
<table>
  <thead>
    <th>Title</th>
    <th>Amount</th>
    <th>Due</th>
    <th>Is Paid</th>
    <th>Action</th>
  </thead>
  <tr>
    <td><%= @invoice.title %></td>
    <td><%= @invoice.amount %></td>
    <td><%= @invoice.due %></td>
    <td><%= @invoice.is_paid ? 'Yes' : 'No' %></td>
  </tr>
</table>
<%= link_to "Edit", edit_invoice_path(@invoice) %>
<%= button_to "Back", root_path, method: :get %>
