<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Due</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.title %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.due %></td>
        <td><%= invoice.is_paid ? 'paid' : 'pending' %></td>
        <td><%= link_to 'Show',  invoice_path(invoice) %></td>
        <td><%= button_to 'Delete', invoice_path(invoice), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "New Invoice", new_invoice_path, method: :get %>
